@import "variables";

.film-page {
  position: relative;
  display: grid;
  @media (min-width: 0px) and (max-width: 599px) {
    grid-template-columns: 100%;
    &__poster {
      padding-bottom: 10px;
    }
    &__properties {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $border-color-light;
    }
    &__actors {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $border-color-light;
      display: flex;
      flex-wrap: wrap;
      h2 {
        flex: 0 0 100%;
      }
      a {
        flex: 0 1 45%;
        padding-right: 10px;
        color: $secondary-text;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
    }
    &__description {
      padding-top: 10px;
      text-align: justify;
    }
  }
  @media (min-width: 600px) {
    grid-template-columns: minmax(200px, 400px) minmax(300px, 1fr) minmax(
        100px,
        auto
      );
    &__poster {
      padding: 0px 10px;
      border-right: 1px solid $border-color-light;
    }
    &__properties {
      padding: 0px 10px;
      border-left: 1px solid $border-color-light;
      border-right: 1px solid $border-color-light;
    }
    &__actors {
      padding-left: 10px;
      a {
        display: flex;
        flex-direction: column;
        color: $secondary-text;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
    }
    &__description {
      grid-column: span 3;
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid $border-color-light;
    }
  }
}

.table-about {
  display: grid;
  grid-template-columns: auto 1fr;
  &__title,
  &__description {
    border-bottom: 1px solid $border-color-light;
    padding: 5px 0px;
  }
  &__description {
    padding-left: 10px;
  }
  span:nth-last-child(1),
  span:nth-last-child(2) {
    border-bottom: none;
  }
}

.poster {
  position: relative;
  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  &__rating {
    position: absolute;
    left: 0px;
    top: 20px;
    padding: 5px;
    background-color: $primary-color;
    border-radius: 5px;
  }
}

.actor-hint {
  transition: left 0.2s, top 0.2s, opacity 0.5s;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  margin: 0px;
  &__avatar {
    width: 50px;
    margin-right: 10px;
    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }
}
