<div class="list-page">
    <div class="list-page__controls">
        <a mat-button [disabled]="display==='all'"  [routerLink]="['/films']" [queryParams]="{ display: 'all'}"> All </a>
        <a mat-button [disabled]="display==='marked'"  [routerLink]="['/films']" [queryParams]="{ display: 'marked'}"> Actors
            Marked </a>
        <a mat-button [disabled]="display==='watched'"  [routerLink]="['/films']" [queryParams]="{ display: 'watched'}"> Actors
            Watched </a>
        <a mat-button [disabled]="display==='favorite'"  [routerLink]="['/films']" [queryParams]="{ display: 'favorite'}"> Actors
            Favorite </a>
        <app-search class="list-page__search" [findItems]="findItems" (searchText)="findByName($event)">
        </app-search>
    </div>
    <div class="list-page__item" *ngFor="let item of filmList">
        <app-film [film]="item" (filmClick)="router.navigateByUrl('/film/' + item.id)">
        </app-film>
    </div>
    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
        [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25]" [pageIndex]="_pageIndexForPaginator">
    </mat-paginator>
</div>